/*! PocketGrid 1.1.0
* Copyright 2013 Arnaud Leray
* MIT License
*/
/* Border-box-sizing */
.block-group, .block, .block-group:after, .block:after, .block-group:before, .block:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Clearfix */
.block-group {
  *zoom: 1;
}
.block-group:before, .block-group:after {
  display: table;
  content: "";
  line-height: 0;
}
.block-group:after {
  clear: both;
}

.block-group {
  /* ul/li compatibility */
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Nested grid */
.block-group > .block-group {
  clear: none;
  float: left;
  margin: 0 !important;
}

/* Default block */
.block {
  float: left;
  width: 100%;
}

/*============================================================================*/
/*============================================================================*/

* {
  box-sizing: border-box;
}

.board {
  /* board is 9/17 of total page width, centered */
  width: 52.941176470588%;
  margin: auto;
  border-collapse: collapse;
}

.cell {
  /* each cell is a square 1/9 the width of the board, with a light grey border */
  border: 3px solid #aaa;
  width: 5.8823529411764705%;
  height: 0;
  padding-bottom: 5.8823529411764705%;
  margin: 0;
}

.cell > input {
  width: 100%;
}
